<hr/> <div class="page-title">New User</div> <hr/>
<div class="back back-page-title">
    <button type="button" class="btn btn-light btn-link">
        <%= link_to 'Back', users_path %>
    </button>
</div>

<%= render 'form', user: @user %>