<hr/> <div class="page-title">New Loan</div> <hr/>
<div class="back back-page-title">
    <button type="button" class="btn btn-light btn-link">
        <%= link_to 'Back', root_path %>
    </button>
</div>


<%= render 'form', loan: @loan %>